/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ----------------------
Common Styles & Utilities
------------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
/* -----------
Header Section
-------------- */
header{
    display: flex;
    flex-direction: row;
    background-color: #2D25A0;
    justify-content: space-around;
    align-items: center;
    margin: 0px;    
}
.top-heading{
    margin: 190px 100px 165px 130px;
}
h1{
    font-size: 64px;
    color: #FFFFFF;
    width: 485px;
}
.top-banner{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140px;
}
.top-banner img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
}
.arrow-right{
    padding-left: 8px;
}
#top-image{
    transition: transform 0.2s ease-in-out 1s;
}
#top-image:hover {
    transform: scale(1.2) rotate(45deg);
    transform-origin: middle left;
}
/* -----------------
Player Image and Detail
--------------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    place-items: center;
    width: 1050px;
    margin: 100px;
}
.player-box{
    display: grid;
    place-items: center;
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px 0px #00000026;
}
.player-image{
    width: 300px;
    height: 256px;
}
.player-image img{
    width: 100%;
    height: 100%;
}
.player-name{
    font-size: 28px;
    font-weight: bold;
    color: #18191F;
}
.player-info{
    font-size: 16px;
    font-weight: normal;
    color: #6C6C6C;
}
/* ---------
     Goals
------------ */
/* .tables{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
table{
    display: table;
    vertical-align: middle;
} */
/* ---------------
Footer Section
------------------ */
footer{
    display: grid;
    place-items: center;
}
.logo-image{
    width: 475px;
}
.logo-image img{
    width: 100%;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

}
.font-icon{
    padding:10px;
    border-radius: 50%;
    background: #969BAB;
    opacity: 0.5;
}
.copyright{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}
.awsome-icons{
    margin: 0px 10px 0px 10px;
}
/* -----------
media queries
-------------- */
/* Mobile Devices */
@media only screen and (max-width:688px){
    .section-part{
        width: 150%;
    }
    header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: 350%;
    }
    footer{
        display: grid;
        width: 250%;
    }
    .player-box{
        width: 100%;
    }
    .players{
    grid-template-columns: repeat(1, 1fr);
    margin: 100px;
    }
}
@media (hover: hover){
    #top-image{
        transition: transform 0.2s ease-in-out 1s;
    }
    #top-image:hover {
        transform: scale(1.2) rotate(45deg);
        transform-origin: middle left;
    }
}